# Cache data
__pycache__
.ipynb_checkpoints/
test*
*.pkz
*.txt
*.json
projection*
*.bin
*.log
model.safetensors

# Save data
logs/
data/
datasets/
sentiment_dataset/
wandb/
*output/
baseline/
save_models/
precompute_target/
inference_data/
mapping*

# Setting data
.env
.vscode

# Exceptions
!research/data/
