accelerate==1.10.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
anytree==2.13.0
appdirs==1.4.4
async-timeout==5.0.1
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
autopep8==2.3.2
Babel==2.8.0
backcall==0.2.0
base58==1.0.3
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bert-score==0.3.13
bioc==2.1
blinker==1.4
boto3==1.40.35
botocore==1.40.35
bottle==0.12.19
Brotli==1.0.9
cbor==1.0.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==3.4.3
click==8.0.3
cloud-init==25.1.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
conllu==4.5.3
constantly==15.1.0
cryptography==3.4.8
cycler==0.11.0
Cython==0.29.28
datasets==4.1.1
dblatex==0.3.12
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.6
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
docopt==0.6.2
ecdsa==0.18.0b1
editdistance==0.8.1
eval_type_backport==0.2.2
evaluate==0.4.6
exceptiongroup==1.3.0
fail2ban==0.11.2
filelock==3.6.0
flair==0.15.1
flatbuffers===1.12.1-git20200711.33e2d80-dfsg1-0.6
fonttools==4.29.1
frozenlist==1.7.0
fs==2.4.12
fsspec==2025.9.0
ftfy==6.3.1
future==0.18.2
gast==0.5.2
gdown==5.2.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.45
Glances==3.2.4.2
gpg==1.16.0
greenlet==1.1.2
h11==0.16.0
h5py==3.6.0
h5py.-debian-h5py-serial==3.6.0
hf-xet==1.1.10
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
huggingface-hub==0.35.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
influxdb==5.3.1
iniconfig==2.1.0
intervaltree==3.1.0
iotop==0.6
ipython==7.31.1
jedi==0.18.0
jeepney==0.7.1
jieba==0.42.1
Jinja2==3.0.3
jiter==0.11.0
jmespath==1.0.1
joblib==1.5.2
jsonlines==4.0.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==23.5.0
kiwisolver==1.3.2
langdetect==1.0.9
language_tool_python==2.9.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lemminflect==0.2.3
line-profiler==2.1
lru-dict==1.3.0
lxml==4.8.0
lz4==3.1.3+dfsg
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mercurial==6.1.1
mnemonic==0.19
more-itertools==10.8.0
mpi4py==3.1.3
mpld3==0.5.11
mpmath==1.3.0
msgpack==1.0.3
multidict==6.6.4
multiprocess==0.70.14
netifaces==0.11.0
networkx==3.2.1
nltk==3.9.1
num2words==0.5.14
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.0
olefile==0.46
openai==1.108.1
OpenHowNet==2.0
packaging==21.3
pandas==2.3.2
parso==0.8.1
passlib==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.3.0
pinyin==0.4.0
platformdirs==2.5.1
pluggy==1.6.0
ply==3.11
pptree==3.1
prompt-toolkit==3.0.28
propcache==0.3.2
protobuf==6.32.1
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.7.0
py-ubjson==0.16.1
pyarrow==21.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycodestyle==2.14.0
pycparser==2.21
pycryptodomex==3.11.0
pydantic==2.11.9
pydantic_core==2.33.2
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
PyNaCl==1.5.0
pynvim==0.4.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypng==0.0.20
PyQRCode==1.2.1
pyrsistent==0.18.1
pyserial==3.5
pysmi==0.3.2
pysnmp==4.4.12
PySocks==1.7.1
pystache==0.6.0
pytest==8.4.2
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.1
python-magic==0.4.24
python-snappy==0.5.3
pythran==0.10.0
pytorch_revgrad==0.2.0
PyTrie==0.4.0
pytz==2022.1
PyYAML==6.0.2
random_word==1.0.13
regex==2025.9.18
requests==2.32.5
responses==0.18.0
s3transfer==0.14.0
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.13.1
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
segtok==1.5.11
sentence-transformers==5.1.0
sentencepiece==0.2.1
sentry-sdk==2.38.0
service-identity==18.1.0
six==1.16.0
smart_open==7.3.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.1.0
sos==4.8.2
soupsieve==2.3.1
sqlitedict==2.1.0
ssh-import-id==5.11
sympy==1.14.0
systemd-python==234
tabulate==0.9.0
terminaltables==3.1.10
textattack==0.3.10
threadpoolctl==3.6.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.2.1
torch==2.8.0
tqdm==4.67.1
traitlets==5.1.1
transformer-smaller-training-vocab==0.4.2
transformers==4.56.2
triton==3.4.0
Twisted==22.1.0
txaio==21.2.1
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
u-msgpack-python==2.3.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.1.0
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==1.26.20
virtualenv==20.13.0+ds
wadllib==1.3.6
wandb==0.22.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Wikipedia-API==0.8.1
word2number==1.1
wrapt==1.17.3
wsaccel==0.6.3
xkit==0.0.0
xxhash==3.5.0
yarl==1.20.1
zipp==1.0.0
zope.interface==5.4.0
